:root {
  --primary: #e5e5e5;
  --secondary: #737373;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: inherit;
  border-top: 1px solid #d6d3d1;
  border-bottom: 1px solid #d6d3d1;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  /* border-radius: 14px; */
}
